$borderGray: #e4e4e4;
$primaryFont: 'Roboto Slab', serif;
$primaryColor: #08767d;
$textColor: #484848;
$textGray: #a0a0a0;
$hoverButton: #fafafa;
$fast: 0.15s;
$shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
$placeholder: #a9a9a9;
$errorColor: #b51d1d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $textColor;
    font-size: 14px;
}

#gSignInWrapper .customGPlusSignIn {
	border: 1px solid #D93025;
	border-radius: 5px;
	line-height: 46px;
	text-align: center;
	width: 300px;
	cursor: pointer;
	transition: $fast;
	span {
		color: #D93025;
		font-size: 12px;
		transition: $fast;
		&.fab { margin-right: 5px; }
	}
	&:hover {
		background-color: #D93025;
		span { color: #fff; }
	}
}

#facebook {
    display: block;
    width: 300px;
    line-height: 46px;
    border: 1px solid #4267B2;
    color: #4267B2;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    transition: $fast;
    margin-bottom: 10px;
    span {
    	color: #4267B2;
    	font-size: 12px;
    	transition: $fast;
    }
    .fab {
        margin-right: 5px;
        transition: $fast;
        color: #4267B2;
    }
    &:hover {
        background-color: #4267B2;
        color: #fff;
        .fab, span { color: #fff; }
    }
}

.group-label {
	display: flex;
	align-items: center;
	label {
		width: 50%;
		&:first-child { margin-right: 10px; }
	}
}

label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: text;
    input[type="text"], input[type="password"], textarea {
        width: 100%;
        border: 1px solid $borderGray;
        border-radius: 5px;
        line-height: 46px;
        outline: none;
        padding: 0 40px 0 15px;
        font-size: 13px;
        max-height: 48px;
    }
    textarea {
    	max-height: none;
    	line-height: normal;
    	padding-top: 20px;
    	resize: none;
    }
    .placeholder {
        position: absolute;
        left: 15px;
        font-size: 13px;
        color: $placeholder;
        transition: $fast;
        top: 15px;
    }
    .fas, .far {
        position: absolute;
        right: 15px;
        color: $placeholder;
        transition: $fast;
        top: 16px;
    }
    &.focused {
        input { padding-top: 12px; }
        .placeholder {
            top: 8px;
            font-size: 10px;
            color: $primaryColor;
        }
        .fas, .far { color: $primaryColor; }
    }
    &.error {
        input { border-color: $errorColor; }
        .placeholder { color: $errorColor; }
        .fas, .far { color: $errorColor; }
        .inline-error {
            font-size: 9px;
            color: $errorColor;
            display: block;
            width: 100%;
            padding-left: 7px;
            margin-top: 4px;
        }
    }
    &.drop {
    	input, span, i { cursor: pointer; }
    	.drop-list {
    		display: none;
    		position: absolute;
    		left: 0;
    		background-color: #fff;
    		border: 1px solid $borderGray;
    		border-radius: 5px;
    		z-index: 1;
   			top: 50px;
   			padding: 10px 0;
    		li {
    			list-style: none;
    			width: 100%;
    			padding: 0 40px 0 10px;
    			line-height: 30px;
    			font-size: 11px;
    			transition: $fast;
    			cursor: pointer;
    			&:hover { background-color: $hoverButton; }
    		}
    	}
    }
    .prefix-precio {
    	position: absolute;
    	display: none;
    	line-height: 36px;
    	left: 15px;
    	padding-top: 12px;
    	& + #precio { padding-left: 30px; }
    }
}

.btn {
	display: block;
	line-height: 40px;
	border: 1px solid;
	border-radius: 5px;
	font-size: 12px;
	width: 120px;
	text-align: center;
	cursor: pointer;
	outline: none;
	appearance: none;
	transition: $fast;
	&.btn-on {
		border-color: $primaryColor;
		background-color: $primaryColor;
		color: #fff;
		i {
			color: #fff;
			margin-right: 3px;
		}
	}
	&.btn-off {
		border-color: $borderGray;
		color: $textGray;
		&:hover { background-color: $hoverButton; }
	}
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderGray;
    padding: 15px;
    .auth {
    	.initials {
    		display: block;
    		line-height: 48px;
    		width: 50px;
    		border-radius: 50%;
    		border: 1px solid $borderGray;
    		color: $primaryColor;
    		font-size: 14px;
    		text-transform: uppercase;
    		font-weight: 700;
    		text-align: center;
    		transition: $fast;
    		cursor: pointer;
    		&:hover {
    			background-color: $primaryColor;
    			border-color: $primaryColor;
    			color: #fff;
    		}
    	}
    }
}

.back-modal {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	.modal {
		background-color: #fff;
		width: 100%;
		max-width: 450px;
		border-radius: 10px;
		height: 80vh;
		padding: 40px 30px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;
		transform: translateY(200%);
		transition: 0.25s;
		& > div:not(.buttons) {
			.close-modal {
				position: absolute;
				top: 15px;
				right: 15px;
				cursor: pointer;
			}
			h3 {
				font-size: 18px;
				margin-bottom: 30px;
			}
		}
		.buttons {
			border-top: 1px solid $borderGray;
			padding-top: 25px;
			margin-top: 60px;
			display: flex;
			justify-content: flex-end;
			button:first-child { margin-right: 10px; }
		}
	}
}

#choosePage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #logo { margin-bottom: 15px; }
    .back {
    	position: fixed;
    	top: 20px;
    	left: 20px;
    	color: $primaryColor;
    	font-size: 12px;
    	display: none;
    	align-items: center;
    	cursor: pointer;
    	.fas {
    		font-size: 21px;
    		color: $primaryColor;
    		margin-right: 5px;
    	}
    }
    .authentication {
        h1 {
            font-size: 17px;
            margin-bottom: 30px;
            text-align: center;
        }
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                height: 110px;
                width: 300px;
                border: 1px solid $borderGray;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                text-decoration: none;
                font-size: 13px;
                padding: 20px;
                transition: $fast;
                &:first-child { margin-right: 20px; }
                &:hover {
                    background-color: $hoverButton;
                    color: $primaryColor;
                }
            }
        }
        .go-login {
        	display: block;
        	width: 100%;
        	border-top: 1px solid $borderGray;
        	margin: 20px auto 0 auto;
        	padding-top: 20px;
        	text-align: center;
        	font-size: 12px; 		
        	p { color: $textGray; }
        	a {
        		color: $primaryColor;
        		font-weight: 500;
        		text-decoration: none;
        	}
        }
    }
    #logreg {
    	display: none;
    	h2 {
    		font-size: 17px;
            margin-bottom: 20px;
            text-align: center;
    	}
    }
    .register, .login {
        display: none;
        width: 380px;
        .link {
            font-size: 12px;
            margin-bottom: 15px;
            text-align: center;
            a {
                color: $primaryColor;
                text-decoration: none;
            }
		}
        button {
            display: block;
            line-height: 36px;
            color: $primaryColor;
            width: 100%;
            border: 1px solid $primaryColor;
            font-size: 13px;
            border-radius: 5px;
            transition: $fast;
            cursor: pointer;
            outline: none;
            appearance: none;
            &:hover {
                background-color: $primaryColor;
                color: #fff;
            }
        }
        .or {
            font-size: 12px;
            margin: 30px 0 15px;
            text-align: center;
            padding-bottom: 10px;
            color: $placeholder;
            border-bottom: 1px solid $borderGray;
        }
        .social {
            display: flex;
            a {
                width: 50%;
                line-height: 30px;
                border: 1px solid;
                border-radius: 5px;
                font-size: 12px;
                text-align: center;
                text-decoration: none;
                transition: $fast;
                .fab {
                    margin-right: 5px;
                    transition: $fast;
                }
                @each $social, $color in ("facebook" #4267B2, "google" #D93025) {
                    &##{$social} {
                        @if $social == 'facebook' {
                            margin-right: 10px;
                        }
                        border-color: $color;
                        color: $color;
                        .fab { color: $color; }
                        &:hover {
                            background-color: $color;
                            color: #fff;
                            .fab { color: #fff; }
                        }
                    }
                }
            }
        }
    }
}

#config-account-page {
	max-width: 1180px;
	width: 100%;
	margin: auto;
	padding: 70px 0 200px 0;
	position: relative;
	.omit {
		position: absolute;
		top: 20px;
		right: 20px;
		color: $textGray;
		text-decoration: none;
	}
	h1 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 40px;
	}
	.content-forms {
		display: flex;
		align-items: flex-start;
		.config-menu {
			width: 300px;
			margin-right: 40px;
			li.divider {
				display: block;
				width: 100%;
				height: 1px;
				background-color: $borderGray;
				margin: 20px 0;
			}
			li:not(.divider) {
				list-style: none;
				display: block;
				width: 100%;
				font-size: 12px;
				line-height: 48px;
				border-radius: 5px;
				padding: 0 10px;
				color: $textGray;
				cursor: pointer;
				transition: $fast;
				&:not(:last-child) { margin-bottom: 5px; }
				&:hover { background-color: $hoverButton; }
				.fas {
					color: $textGray;
					transition: $fast;
					margin-right: 5px;
					width: 24px;
					text-align: center;
				}
				&.active {
					background-color: $primaryColor;
					color: #fff;
					.fas { color: #fff; }
				}
			}
		}
		.form {
			width: calc(100% - 300px);
			border-left: 1px solid $borderGray;
			padding-left: 40px;
			min-height: 400px;
			display: none;
			h2 {
				font-size: 17px;
				margin-bottom: 30px;
				& + p, & + .sure {
					margin-top: -25px;
					margin-bottom: 30px;
				}
			}
			&#personal-info { display: block; }
			& > div {
				display: flex;
				align-items: flex-start;
				.avatar {
					width: 35%;
					margin-right: 25px;
					position: relative;
					border: 1px solid $borderGray;
					border-radius: 5px;
					overflow: hidden;
					img {
						display: block;
						width: 100%;
					}
					.choose-photo {
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: flex-end;
						width: 100%;
						height: 100%;
						padding-bottom: 20px;
						background-color: rgba(0, 0, 0, 0.5);
						cursor: pointer;
						opacity: 0;
						transition: $fast;
						top: 0;
						&:hover { opacity: 1; }
						span {
							color: #fff;
							font-size: 9px;
							line-height: 28px;
							border: 1px solid $borderGray;
							border-radius: 5px;
							padding: 0 10px;
							display: flex;
							align-items: center;
							cursor: pointer;
							transition: $fast;
							&:hover { background-color: rgba(255, 255, 255, 0.2); }
							.fas {
								color: #fff;
								margin-right: 5px;
							}
						}
					}
				}
				.fields {
					width: 65%;
				}
			}
			.buttons {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-top: 10px;
				button:first-child { margin-right: 10px; }
			}
			& > div {
				display: flex;
				align-items: flex-start;
				margin-top: 20px;
				.selected {
					display: block;
					width: 100%;
					max-width: 240px;
					border: 1px solid $borderGray;
					padding: 10px;
					border-radius: 5px;
					height: 250px;
					overflow: auto;
					margin-right: 25px;
					span {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						line-height: 30px;
						background: #efeeee;
						font-size: 12px;
						padding: 0 10px;
						border-radius: 5px;
						&:not(:last-child) { margin-bottom: 7px; }
						.fas {
							font-size: 12px;
							cursor: pointer;
						}
					}
				}
				.categories {
					width: calc(100% - 240px);
					display: flex;
					flex-wrap: wrap;
					span {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: auto;
						line-height: 30px;
						background: #efeeee;
						font-size: 12px;
						padding: 0 10px;
						border-radius: 5px;
						margin-bottom: 10px;
						cursor: pointer;
						&:not(:last-child) { margin-right: 7px; }
					}
				}
			}
			.no-cards {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 80px;
				p {
					color: $textGray;
					font-weight: 300;
					margin-bottom: 10px;
				}
				button {
					width: auto;
					padding: 0 15px;
					display: flex;
					align-items: center;
					.fas {
						color: $textGray;
						margin-right: 5px;
						font-size: 20px;
					}
				}
			}
			.sure + button {
				width: auto;
				padding: 0 15px;
			}
			#lista-ofertas {
				display: flex;
				flex-wrap: wrap;
				margin-top: 30px;
				.oferta {
					width: calc(100% / 2 - 12px);
					border: 1px solid $borderGray;
					border-radius: 5px;
					padding: 24px;
					margin-bottom: 24px;
					&:not(:nth-child(2n)) { margin-right: 24px; }
					.label {
						font-size: 11px;
						color: $textGray;
						font-weight: 400;
						display: block;
					}
					.options {
						border-bottom: 1px solid $borderGray;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-bottom: 10px;
						margin-bottom: 25px;
						.id { font-weight: bold; }
						.buttons {
							margin-top: 0;
							button {
								appearance: none;
								height: 30px;
								border: none;
								cursor: pointer;
								outline: none;
								* { pointer-events: none; }
								&#editar-oferta { margin-right: 15px; }
								i { color: $primaryColor; }
							}
						}
					}
					.descripcion {
						display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						margin-bottom: 15px;
					}
					.especialidad { margin-bottom: 15px; }
					.precio {
						font-size: 20px;
						font-weight: bold;
					}
				}
			}
		}
	}
}

#home-page {
	padding-bottom: 150px;
	.banner {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	h1 {
		text-align: center;
		font-size: 22px;
		margin: 40px auto 20px auto;
	}
	.lista-ofertas {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		article {
			width: calc(100% / 2 - 20px / 2);
			border: 1px solid $borderGray;
			border-radius: 5px;
			padding: 30px;
			margin-bottom: 20px;
			&:not(:nth-child(2n)) { margin-right: 20px; }
			.head {
				display: flex;
				align-items: center;
				.avatar {
					display: block;
					height: 60px;
					width: 60px;
					border-radius: 50%;
					margin-right: 20px;
				}
				.label {
					font-size: 12px;
					color: $textGray;
				}
				.name {
					font-weight: bold;
				}
			}
			.desc {
				margin-left: 80px;
				border-top: 1px solid $borderGray;
				padding-top: 15px;
				margin-top: 10px;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				min-height: 92px;
			}
			.fot {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-left: 80px;
				margin-top: 30px;
				border-top: 1px solid $borderGray;
				padding-top: 20px;
				.label {
					font-size: 12px;
					color: $textGray;
					font-weight: 400;
				}
				.precio {
					font-weight: bold;
					font-size: 20px;
				}
			}
		}
	}
}
















